* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s linear;
}

span {
  border-radius: 10px;
  border-style: none;
  height: 50px;
  width: 25%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
